.card {
    background-color: #44803F;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.5s;
}

.card-img {
    width: auto;
    height: auto;
}

.card-title {
    color: var(--heading);
    font-weight: bold;
    text-align: center;
}

.card-text {
    color: var(--content);
    text-align: center;
    overflow: hidden;
}

.card:hover {
    background-color: var(--hover);
    transform: scale(1.05);
}