:root {
    --nav: #39B375;
    --heading: #FFEC5C;
    --content: white;
    --hover: #B4CF66;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(95, 156, 93);
    background: linear-gradient(30deg, rgba(95, 156, 93, 1) 0%, rgba(138, 193, 84, 1) 50%, rgba(255, 252, 104, 1) 100%);
}

.wrapper {
    width: 80%;
    margin: auto;
}


/* carousel */

.carousel {
    margin: 0;
    padding: 0;
    max-height: 500px;
}

.carousel .carousel-item {
    min-height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    min-height: 500px;
}


/* contact */

#contact {
    background-color: #146152;
    width: 100%;
    color: var(--content);
    padding: 20px;
    text-align: center;
}

#contact h1 {
    color: var(--heading);
    font-weight: bold;
}

#contact input[type=email]:focus,
#contact textarea:focus {
    box-shadow: none;
    border: 3px solid var(--heading);
}

#contact button {
    background-color: var(--heading);
    color: black;
    box-shadow: none;
    transition: transform 0.5s;
}

#contact button:hover {
    transform: scale(1.2);
}

#error 
{
    font-size: larger;
    font-weight: bold;
}

/* footer */

.footer {
    background-color: var(--nav);
    color: var(--content);
}